.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 26.5rem;
  height: 32.5rem;
  background-color: #6b3939;
  border: 1px solid #e1e3e4;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-content {
  width: 85%;
  height: 85%;
}

.login-title {
  width: 100%;
  margin: 0;
  text-align: center;
}

.login-form {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.login-form label,
.login-form input {
  display: block;
}

.login-form input {
  height: 3rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  border: 1px solid #e1e3e4;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background-color: #737171;
  color: var(--primary-text-color);
}

.login-form input:not(:last-child) {
  margin-bottom: 2rem;
}

.login-form input:focus {
  outline-color: var(--accent-color);
}

.login-form input[type="submit"] {
  border: none;
  background-color: var(--accent-color);
  color: var(--quaternary-text-color);
}

.login-form input[type="submit"]:hover {
  cursor: pointer;
  background-color: #4e91bd;
}
